Repository PhamMinhHaiAu-12035071/xp1: changes, and which lefthook commands are due for each by the changed paths.
All: rps-pre-commit, spell-check-quick, format-check, analyze-quick, license-quick, deps-check-on-pubspec-change, pubspec-analyze, naming-check

rps-pre-commit:
  run: fvm flutter pub run rps pre-commit
  stage_fixed: true

spell-check-quick:
  run: 'npx cspell --config cspell.json {staged_files} --no-progress || \
  
    echo "‚ö†Ô∏è Fix spelling issues"
  
    '

format-check:
  run: fvm dart format lib/ test/ --set-exit-if-changed --output=none

analyze-quick:
  run: fvm flutter analyze --fatal-infos

license-quick:
  run: "if git diff --cached --name-only | grep -q \"pubspec.yaml\"; then\n  echo \"üì¶ pubspec.yaml changed, checking licenses...\"\n  fvm flutter pub run rps license-check\nfi\n"

deps-check-on-pubspec-change:
  run: "if git diff --cached --name-only | grep -q \"pubspec.yaml\"; then\n  echo \"üì¶ pubspec.yaml changed, validating dependencies...\"\n  fvm flutter pub run rps validate-deps\nfi\n"

pubspec-analyze:
  run: "FILES_TO_ANALYZE=$(git diff --cached --name-only --diff-filter=ACMR | grep -E '(\\.dart$|^pubspec\\.yaml$)')\nif [ -n \"$FILES_TO_ANALYZE\" ]; then\n  echo \"üìù Analyzing staged files for linting issues...\"\n  dart analyze $FILES_TO_ANALYZE\nfi\n"

naming-check:
  run: "DART_FILES=$(git diff --cached --name-only --diff-filter=ACMR | grep '\\.dart$')\nif [ -n \"$DART_FILES\" ]; then\n  echo \"üè∑Ô∏è Checking naming conventions...\"\n  fvm dart analyze --fatal-infos\nfi\n"

chore(workflows): fix indentation for FVM installation steps in CI configuration
  .github/workflows/main.yaml
Due: none

chore(workflows): optimize CI configuration with new caching and performance monitoring
  .github/actions/flutter-setup/action.yml
  .github/actions/performance-monitor/action.yml
  .github/workflows/cache-warmup.yaml
  .github/workflows/main-optimized.yaml
  .github/workflows/main-ultra.yaml
  .github/workflows/main.yaml
  build.yaml
Due: none

fix: add Dart SDK path to flutter-setup action
  .github/actions/flutter-setup/action.yml
Due: none

fix: enhance Flutter setup in GitHub Actions for improved reliability
  .github/actions/flutter-setup/action.yml
  .github/workflows/flutter-stable.yaml
  .github/workflows/main.yaml
  doc/core/github-actions-flutter-fix.md
Due: spell-check-quick

fix: enforce English-only content in documentation and code
  CLAUDE.md
  cspell.json
  lefthook.yml
Due: spell-check-quick

chore: remove obsolete GitHub Actions workflows and actions
  .github/actions/flutter-setup/action.yml
  .github/actions/performance-monitor/action.yml
  .github/workflows/cache-warmup.yaml
  .github/workflows/flutter-stable.yaml
  .github/workflows/main-optimized.yaml
  .github/workflows/main-ultra.yaml
  .github/workflows/main.yaml
Due: none

chore: update environment generation in workflows and Lefthook
  .github/workflows/main.yaml
  lefthook.yml
  lib/features/env/env_development.g.dart.generated
Due: none

chore: update GitHub Actions workflow to verify pre-generated environment files
  .github/workflows/main.yaml
Due: none

chore: enhance GitHub Actions workflow for environment setup
  .github/workflows/main.yaml
  lib/features/env/env_development.dart
Due: rps-pre-commit, format-check, analyze-quick, pubspec-analyze, naming-check

fix: remove unnecessary environment parameter from EnvDev class
  lib/features/env/env_development.dart
Due: rps-pre-commit, format-check, analyze-quick, pubspec-analyze, naming-check

feat: introduce composite action for Envied environment setup
  .github/actions/setup-envied/action.yml
  .github/workflows/main.yaml
  doc/core/envied-github-actions-en.md
  doc/core/envied-github-actions.md
Due: spell-check-quick

chore: remove outdated Envied GitHub Actions documentation
  doc/core/envied-github-actions-en.md
  doc/core/envied-github-actions.md
Due: spell-check-quick

feat: enhance debugging and verification in Envied setup action
  .github/actions/setup-envied/action.yml
Due: none

feat: improve Envied setup action with enhanced verification and debugging
  .github/actions/setup-envied/action.yml
Due: none

fix: update environment mode in GitHub Actions workflow
  .github/workflows/main.yaml
Due: none

fix: update dependency validation and build commands in configuration files
  .github/actions/setup-envied/action.yml
  rps.yaml
Due: none

feat: add idempotent code generation step in GitHub Actions workflow
  .github/workflows/main.yaml
Due: none

feat: enhance Envied setup action with additional environment variables
  .github/actions/setup-envied/action.yml
  .github/workflows/main.yaml
Due: none

feat: enhance CI workflow with build cache clearing and detailed debugging
  .github/workflows/main.yaml
Due: none

feat: enhance envied setup with verification and improved output
  .github/actions/setup-envied/action.yml
  .github/workflows/main.yaml
  lefthook.yml
  rps.yaml
Due: none

feat: update lefthook configuration for improved CI integration
  .github/actions/setup-envied/action.yml
  .github/workflows/main.yaml
  doc/core/envied-github-actions.md
  doc/core/github-actions-flutter-fix.md
  doc/core/local-ci-setup.md
  lefthook.yml
  rps.yaml
Due: spell-check-quick

feat: update Flutter version in CI workflow
  .github/workflows/main.yaml
Due: none

fix: remove build_runner option from CI workflow
  .github/workflows/main.yaml
Due: none

feat: enhance CI workflow with environment setup and code generation
  .github/workflows/main.yaml
Due: none

fix: refine CI workflow and build configuration
  .github/workflows/main.yaml
  build.yaml
Due: none

fix: optimize build configuration in `build.yaml`
  build.yaml
Due: none

fix: update test command in Makefile and CI workflow
  .github/workflows/main.yaml
  Makefile
Due: none

fix: update application name in development environment example
  lib/features/env/development.env.example
Due: none

fix: update pubspec.yaml and enhance dependency injection error handling
  lefthook.yml
  lib/core/di/injection_container.dart
  pubspec.yaml
  rps.yaml
  test/counter/view/counter_page_test.dart
Due: rps-pre-commit, format-check, analyze-quick, license-quick, deps-check-on-pubspec-change, pubspec-analyze, naming-check

feat: integrate AutoRoute for navigation and refactor app structure
  CLAUDE.md
  coding-style.mdc
  dart_dependency_validator.yaml
  doc/core/architecture.md
  doc/core/development-guidelines.md
  doc/core/tech-stack.md
  lib/app/view/app.dart
  lib/core/constants/route_constants.dart
  lib/core/guards/auth_guard.dart
  lib/core/routing/app_router.dart
  lib/core/routing/app_router.gr.dart
  lib/counter/counter.dart
  lib/counter/cubit/counter_cubit.dart
  lib/counter/view/counter_page.dart
  lib/features/attendance/presentation/pages/attendance_page.dart
  lib/features/authentication/presentation/pages/login_page.dart
  lib/features/features/presentation/pages/features_page.dart
  lib/features/home/presentation/pages/home_page.dart
  lib/features/main_navigation/presentation/pages/main_wrapper_page.dart
  lib/features/profile/presentation/pages/profile_page.dart
  lib/features/statistics/presentation/pages/statistics_page.dart
  pubspec.lock
  pubspec.yaml
  test/app/view/app_test.dart
  test/counter/cubit/counter_cubit_test.dart
  test/counter/view/counter_page_test.dart
  test/features/attendance/presentation/pages/attendance_page_test.dart
  test/features/authentication/presentation/pages/login_page_test.dart
  test/features/features/presentation/pages/features_page_test.dart
  test/features/home/presentation/pages/home_page_test.dart
  test/features/main_navigation/presentation/pages/main_wrapper_page_test.dart
  test/features/profile/presentation/pages/profile_page_test.dart
  test/features/statistics/presentation/pages/statistics_page_test.dart
  test/helpers/helpers.dart
  test/helpers/page_test_helpers.dart
  test/helpers/pump_app.dart
  test/helpers/test_injection_container.dart
  test/l10n/l10n_test.dart
Due: rps-pre-commit, spell-check-quick, format-check, analyze-quick, license-quick, deps-check-on-pubspec-change, pubspec-analyze, naming-check

refactor: streamline routing and enhance test structure
  lib/app/view/app.dart
  lib/core/constants/route_constants.dart
  lib/core/routing/app_router.dart
  pubspec.yaml
  test/features/authentication/presentation/pages/login_page_test.dart
  test/helpers/page_test_helpers.dart
  test/helpers/pump_app.dart
Due: rps-pre-commit, format-check, analyze-quick, license-quick, deps-check-on-pubspec-change, pubspec-analyze, naming-check

feat(tests): enhance flutter-ci tests with make command integration
  test/flutter-ci.bats
  test/test_helper/test_helper.bash
Due: none

refactor: enhance formatting checks and pre-commit hooks
  Makefile
  lefthook.yml
Due: none

chore(ci): add code formatting step to CI workflow
  .github/workflows/main.yaml
Due: none

chore(ci): update test command in CI workflow
  .github/workflows/main.yaml
Due: none

refactor: streamline Makefile and enhance BDD step definitions
  Makefile
  packages/bdd_steps/lib/steps/i_am_logged_in.dart
  packages/bdd_steps/lib/steps/i_see_button.dart
  packages/bdd_steps/lib/steps/i_tap_button.dart
  packages/bdd_steps/lib/steps/the_app_is_running.dart
  pubspec.yaml
Due: rps-pre-commit, format-check, analyze-quick, license-quick, deps-check-on-pubspec-change, pubspec-analyze, naming-check

test(env): improve performance test for cached environment properties
  test/features/env/infrastructure/env_config_factory_test.dart
Due: rps-pre-commit, format-check, analyze-quick, pubspec-analyze, naming-check

Path conditions:
  rps-pre-commit: any of: *.dart
  spell-check-quick: any of: *.md
  format-check: any of: *.dart
  analyze-quick: any of: *.dart
  license-quick: any of: pubspec.yaml
  deps-check-on-pubspec-change: any of: pubspec.yaml
  pubspec-analyze: any of: *.dart, pubspec.yaml
  naming-check: any of: *.dart
