Repository PhamMinhHaiAu-12035071/xp1: changes, and which lefthook commands are due for each by the changed paths.
All: rps-pre-commit, spell-check-quick, format-check, analyze-quick

lefthook.yml:

# lefthook.yml
# Official git hooks only - custom commands moved to scripts/ and Makefile

# Official git hooks with scripts + Makefile integration
pre-commit:
  parallel: true
  commands:
    # Format and fix code first (staged files only)
    rps-pre-commit:
      glob: "*.dart"
      run: fvm flutter pub run rps pre-commit
      stage_fixed: true
    # Quick spell check on staged files 
    spell-check-quick:
      glob: "*.md"
      run: npx cspell --config cspell.json {staged_files} --no-progress || echo "⚠️ Fix spelling issues"
    # Quick format check (fast)
    format-check:
      glob: "*.dart"
      run: fvm dart format lib/ test/ --set-exit-if-changed --output=none
    # Quick analysis (staged files only)
    analyze-quick:
      glob: "*.dart"
      run: fvm flutter analyze --fatal-infos

pre-push:
  commands:
    # Run complete CI pipeline via Makefile
    full-ci-pipeline:
      run: make local-ci

commit-msg:
  commands:
    conventional-commit:
      run: fvm dart run tools/validate_commit.dart {1}

feat: enhance license compliance checks and testing framework
  .cursor/rules/bmad/test-engineer.mdc
  .github/dependabot.yaml
  .gitignore
  Makefile
  docs/license-compliance.md
  lefthook.yml
  package-lock.json
  package.json
  scripts/test-license-integration.sh
  test/flutter-ci.bats
  test/license-check.bats
  test/license-edge-cases.bats
  test/license-integration.bats
  test/local-ci.bats
  test/semantic-check.bats
  test/spell-check.bats
  test/test_helper/test_helper.bash
Due: spell-check-quick

refactor(tests): update license-check and integration tests for improved output clarity
  test/license-check.bats
  test/license-integration.bats
Due: none

feat(tools): enhance PR title validation logic
  tools/validate_pr_title.dart
Due: rps-pre-commit, format-check, analyze-quick

feat(tools): add LICENSE and enhance PR title validation
  LICENSE
Due: none

feat(publish): prepare package for pub.dev publishing
  CHANGELOG.md
  doc/README.md
  doc/architecture.md
  doc/development-guidelines.md
  doc/index.md
  doc/license-compliance.md
  doc/local-ci-setup.md
  doc/tech-stack.md
  lefthook.yml
  pubspec.yaml
  rps.yaml
  scripts/semantic-check.sh
  tool/validate_commit.dart
  tool/validate_pr_title.dart
Due: rps-pre-commit, spell-check-quick, format-check, analyze-quick

test: update semantic-check test to use tool/ directory
  test/semantic-check.bats
Due: none

fix(ci): temporarily skip spell-check due to npm dependency conflicts
  Makefile
Due: none

docs(license-compliance): translate and enhance license compliance guide
  doc/license-compliance.md
Due: spell-check-quick

docs: Update cspell.json
  cspell.json
Due: none

feat(dependency-management): implement dependency validation and management scripts
  .fvmrc
  dart_dependency_validator.yaml
  hook_test.md
  lefthook.yml
  plan.md
  pubspec.lock
  pubspec.yaml
  rps.yaml
  tool/validate_commit.dart
Due: rps-pre-commit, spell-check-quick, format-check, analyze-quick

feat(ci): enhance license compliance checks and update workflows
  .github/workflows/main.yaml
  Makefile
  README.md
  lefthook.yml
  rps.yaml
Due: spell-check-quick

chore(pubspec): update Flutter SDK version and optimize pubspec.yaml structure
  .cursor/rules/me/pubspec-optimization.mdc
  pubspec.lock
  pubspec.yaml
Due: none

feat(ci): enhance pre-commit hooks and add test coverage commands
  Makefile
  doc/development-guidelines.md
  lefthook.yml
  pubspec.lock
  pubspec.yaml
  tool/validate_commit.dart
  tool/validate_pr_title.dart
Due: rps-pre-commit, spell-check-quick, format-check, analyze-quick

fix(semantic-check): resolve PR title validation for branch names with special characters
  .gitignore
  tool/validate_pr_title.dart
Due: rps-pre-commit, format-check, analyze-quick

chore: remove plan.md from git tracking
  plan.md
Due: spell-check-quick

refactor(validate_pr_title): clean up code formatting and improve readability
  tool/validate_pr_title.dart
Due: rps-pre-commit, format-check, analyze-quick

refactor(Makefile): optimize CI license check command
  Makefile
Due: none

refactor(lefthook): streamline Dart file analysis in pre-commit hooks
  doc/development-guidelines.md
  lefthook.yml
  tool/validate_pr_title.dart
Due: rps-pre-commit, spell-check-quick, format-check, analyze-quick

feat(naming-conventions): implement comprehensive naming standards and validation
  Makefile
  analysis_options.yaml
  doc/naming-conventions.md
  lefthook.yml
  review.md
  test/naming-conventions.bats
  test/simplified-naming.bats
Due: spell-check-quick

chore: clean up .gitignore and remove review.md
  .gitignore
  review.md
Due: spell-check-quick

refactor(naming-conventions): update naming examples and documentation clarity
  doc/naming-conventions.md
Due: spell-check-quick

refactor(linter): simplify naming conventions and streamline analysis checks
  analysis_options.yaml
  lefthook.yml
  test/naming-conventions.bats
  test/simplified-naming.bats
  tool/validate_pr_title.dart
Due: rps-pre-commit, format-check, analyze-quick

test: trigger spell check error
  doc/features/environment/configuration.md
  doc/meta/README.md
  doc/meta/index.md
Due: spell-check-quick

docs: add English language requirements to CLAUDE.md and coding-style.mdc
  .cursor/rules/coding-style.mdc
  CLAUDE.md
  cspell.json
Due: spell-check-quick

chore(pubspec): update watcher package version to 1.1.3
  pubspec.lock
Due: none

chore(workflows): refactor Flutter version management in CI configuration
  .github/workflows/main.yaml
Due: none

chore(workflows): enable build_runner in CI configuration
  .github/workflows/main.yaml
Due: none

feat: implement logger service and update bootstrap
  lib/bootstrap.dart
  lib/core/infrastructure/logging/i_logger_service.dart
  lib/core/infrastructure/logging/logger_service.dart
  lib/features/env/infrastructure/env_config_factory.dart
  pubspec.lock
  pubspec.yaml
  test/bootstrap_test.dart
  test/core/infrastructure/logging/logger_service_test.dart
  test/features/env/infrastructure/env_config_factory_test.dart
Due: rps-pre-commit, format-check, analyze-quick

chore: update pre-commit hooks in lefthook.yml and rps.yaml
  lefthook.yml
  rps.yaml
Due: none

chore: update environment setup and pre-commit hooks
  .gitignore
  Makefile
  lefthook.yml
  lib/features/env/development.env.example
  lib/features/env/production.env.example
  lib/features/env/staging.env.example
  package-lock.json
  package.json
  rps.yaml
  scripts/setup-env.sh
  test/setup-env.bats
Due: none

chore(env): update example environment files for consistency
  lib/features/env/development.env.example
  lib/features/env/production.env.example
  lib/features/env/staging.env.example
Due: none

feat(di): implement dependency injection with injectable and get_it
  .gitignore
  build.yaml
  lib/bootstrap.dart
  lib/core/di/app_module.dart
  lib/core/di/injection_container.dart
  lib/counter/cubit/counter_cubit.dart
  lib/counter/view/counter_page.dart
  lib/features/env/infrastructure/env_config_repository_impl.dart
  pubspec.lock
  pubspec.yaml
  rps.yaml
  test/app/view/app_test.dart
  test/core/di/injection_container_test.dart
  test/counter/view/counter_page_test.dart
  test/helpers/helpers.dart
  test/helpers/pump_app.dart
  test/helpers/test_injection_container.dart
Due: rps-pre-commit, format-check, analyze-quick

chore(workflows): update Flutter version in CI configuration
  .github/workflows/main.yaml
Due: none

chore(workflows): remove build_runner from CI configuration
  .github/workflows/main.yaml
Due: none

chore(workflows): add FVM installation to CI configuration
  .github/workflows/main.yaml
Due: none

chore(workflows): enhance CI configuration with caching and new job steps
  .github/workflows/main.yaml
Due: none

chore(workflows): update CI configuration for dependency validation and caching
  .github/workflows/main.yaml
  rps.yaml
Due: none

chore(workflows): refine FVM installation steps in CI configuration
  .github/workflows/main.yaml
Due: none

chore(workflows): improve FVM installation and caching in CI configuration
  .github/workflows/main.yaml
Due: none
