Repository PhamMinhHaiAu-12035071/xp1: changes, and which lefthook commands are due for each by the changed paths.
All: format-and-analyze, spell-check, license-check

lefthook.yml:

# lefthook.yml
# Simplified git hooks - avoid conflicts between commands

# Lightweight pre-commit - only essential checks
pre-commit:
  parallel: false # Sequential to avoid conflicts
  commands:
    # Combined format + analysis (lightweight)
    format-and-analyze:
      glob: "*.dart"
      run: |
        echo "üé® Formatting and analyzing staged Dart files..."
        # Format staged files only
        STAGED_FILES=$(git diff --cached --name-only --diff-filter=ACMR | grep '\.dart$')
        if [ -n "$STAGED_FILES" ]; then
          echo "üìù Formatting staged files: $STAGED_FILES"
          fvm dart format $STAGED_FILES --set-exit-if-changed
          git add $STAGED_FILES
        fi
        # Quick analysis on staged files
        fvm dart analyze --fatal-infos
      stage_fixed: true

    # Spell check on staged files
    spell-check:
      glob: "*.md"
      run: |
        STAGED_MD=$(git diff --cached --name-only --diff-filter=ACMR | grep '\.md$')
        if [ -n "$STAGED_MD" ]; then
          echo "üìù Spell checking staged files..."
          npx cspell --config cspell.json $STAGED_MD --no-progress || \
          echo "‚ö†Ô∏è Fix spelling issues before committing"
        fi

    # License check when pubspec changes
    license-check:
      glob: "pubspec.yaml"
      run: |
        if git diff --cached --name-only | grep -q "pubspec.yaml"; then
          echo "üì¶ pubspec.yaml changed, checking licenses..."
          fvm dart run rps license-check
        fi

pre-push:
  parallel: false
  commands:
    # Quick environment generation (lightweight)
    generate-env-dev:
      run: |
        echo "üîß Generating development environment..."
        fvm dart run rps generate-env-dev

    # Quick checks before push (not full CI)
    quick-checks:
      run: |
        echo "‚ö° Running quick pre-push checks..."
        # Quick license check
        fvm dart run rps license-check
        # Quick dependency validation
        fvm dart run rps validate-deps
        # Quick naming validation
        fvm dart run rps analyze-quick

    # Bash script tests (keep lightweight)
    bash-script-tests:
      run: |
        echo "üß™ Testing bash scripts..."
        npm test

commit-msg:
  commands:
    conventional-commit:
      run: fvm dart run tool/validate_commit.dart {1}

feat(deps): fix dependency validation and spelling errors
  .cursor/rules/documentation-sync.mdc
  CLAUDE.md
  README.md
  analysis_options.yaml
  cspell.json
  dart_dependency_validator.yaml
  doc/core/development-guidelines.md
  doc/core/tech-stack.md
  pubspec.lock
  pubspec.yaml
Due: spell-check, license-check

feat(validation): refactor commit and PR title validation tools
  coding-style.mdc
  tool/shared/cli_logger.dart
  tool/shared/cli_runner.dart
  tool/shared/formatters/error_formatter.dart
  tool/shared/validation_result.dart
  tool/shared/validation_types.dart
  tool/shared/validator_interface.dart
  tool/validate_commit.dart
  tool/validate_pr_title.dart
  tool/validators/commit_validator.dart
  tool/validators/pr_title_validator.dart
Due: format-and-analyze

fix: update references from dartz to fpdart across the codebase
  CLAUDE.md
  README.md
  coding-style.mdc
  cspell.json
  dart_dependency_validator.yaml
  doc/core/development-guidelines.md
  doc/core/tech-stack.md
  pubspec.lock
  pubspec.yaml
  tool/shared/validation_result.dart
Due: format-and-analyze, spell-check, license-check

fix: add Vietnamese words and technical terms to cspell dictionary
  cspell.json
Due: none

fix: add FVM detection and fallback for CI compatibility
  Makefile
Due: none

fix: exclude generated files from format check in CI
  scripts/flutter-ci.sh
Due: none

fix: update flutter-ci.bats test for new format check implementation
  test/flutter-ci.bats
Due: none

feat(ci): enhance CI/CD workflow with i18n generation step
  .github/workflows/main.yaml
  CLAUDE.md
Due: spell-check

feat(i18n): implement comprehensive localization migration and cleanup
  .cursor/rules/global-rule.mdc
  .cursor/rules/reasoning-rule.mdc
  lib/core/bootstrap/phases/dependency_injection_phase.dart
  lib/core/bootstrap/phases/error_handling_phase.dart
  planning.md
  test/core/bootstrap/orchestrator/bootstrap_orchestrator_test.dart
  test/core/bootstrap/phases/dependency_injection_phase_test.dart
  test/core/bootstrap/phases/error_handling_phase_test.dart
  test/features/locale/application/locale_application_service_test.dart
Due: format-and-analyze, spell-check

feat(locale): implement locale bootstrap phase and refactor locale services
  lib/bootstrap.dart
  lib/core/bootstrap/app_bootstrap.dart
  lib/core/bootstrap/phases/dependency_injection_phase.dart
  lib/core/bootstrap/phases/locale_bootstrap_phase.dart
  lib/features/locale/application/locale_application_service.dart
  lib/features/locale/domain/services/locale_domain_service.dart
  test/core/bootstrap/phases/dependency_injection_phase_test.dart
  test/core/bootstrap/phases/locale_bootstrap_phase_test.dart
  test/features/locale/application/locale_application_service_test.dart
Due: format-and-analyze

refactor(localization): streamline localization implementation and enhance error handling
  lib/app/view/app.dart
  lib/features/attendance/presentation/pages/attendance_page.dart
  lib/features/locale/cubit/locale_cubit.dart
  lib/l10n/i18n/en.i18n.json
  lib/l10n/i18n/vi.i18n.json
  packages/bdd_steps/lib/steps/the_app_is_running.dart
  packages/bdd_steps/pubspec.yaml
Due: format-and-analyze

docs: update planning.md with widgetbook theme migration documentation
  planning.md
Due: spell-check

fix(ci): resolve spell check errors in GitHub Actions
  cspell.json
  linus_torvalds_v2.md
Due: spell-check

docs(styleguide): update Flutter coding standards and documentation guidelines
  .gemini/styleguide.md
Due: spell-check

refactor(colors): streamline color access methods and enhance documentation
  .cursor/rules/coding-style.mdc
  lib/core/styles/colors/app_colors.dart
  lib/core/styles/colors/app_colors_impl.dart
  test/core/styles/colors/app_colors_impl_test.dart
  test/core/styles/colors/app_colors_test.dart
  test/core/themes/app_theme_test.dart
  test/core/themes/extensions/app_color_extension_test.dart
  widgetbook/stories/design_system/color_stories.dart
Due: format-and-analyze

feat: update cspell dictionary and enhance project documentation
  .cursor/rules/coding-style.mdc
  .cursor/rules/me/rps-scripts.mdc
  README.md
  cspell.json
  doc/core/architecture.md
  doc/core/development-guidelines.md
  lib/app/view/app.dart
  lib/core/widgets/responsive_initializer.dart
  lib/core/widgets/widgets.dart
  linus_torvalds_v2.md
  pubspec.lock
  pubspec.yaml
  test/core/widgets/responsive_initializer_test.dart
Due: format-and-analyze, spell-check, license-check

feat: add splash screen planning documentation and asset specifications
  planning.md
  planning_asset_image.md
  planning_asset_svg.md
Due: spell-check

feat(responsive_initializer): enhance responsive design widget and add comprehensive tests
  lib/core/widgets/responsive_initializer.dart
  test/core/widgets/responsive_initializer_test.dart
Due: format-and-analyze

feat(image_asset_management): implement comprehensive image asset management system
  .cursor/rules/coding-style.mdc
  CLAUDE.md
  README.md
  assets/images/common/logo.png
  assets/images/employee/avatar.png
  assets/images/employee/badge.png
  assets/images/icons/check.png
  assets/images/icons/star.png
  assets/images/login/background.png
  assets/images/login/logo.png
  assets/images/placeholders/error_placeholder.png
  assets/images/placeholders/image_placeholder.png
  assets/images/splash/background.png
  assets/images/splash/logo.png
  cspell.json
  doc/core/design-system.md
  doc/core/image-asset-management.md
  lib/core/assets/app_images.dart
  lib/core/assets/app_images_impl.dart
  lib/core/services/asset_image_service.dart
  lib/core/services/asset_image_service_impl.dart
  pubspec.yaml
  test/core/assets/app_images_test.dart
  test/core/services/asset_image_service_test.dart
  test/setup/dependencies_verification_test.dart
Due: format-and-analyze, spell-check, license-check

feat(svg_asset_management): implement comprehensive SVG asset management system
  .cursor/rules/coding-style.mdc
  CLAUDE.md
  assets/icons/action/add.svg
  assets/icons/action/delete.svg
  assets/icons/action/edit.svg
  assets/icons/action/filter.svg
  assets/icons/brand/logo.svg
  assets/icons/brand/logo_text.svg
  assets/icons/status/error.svg
  assets/icons/status/info.svg
  assets/icons/status/success.svg
  assets/icons/status/warning.svg
  assets/icons/ui/arrow_back.svg
  assets/icons/ui/close.svg
  assets/icons/ui/menu.svg
  assets/icons/ui/notification.svg
  assets/icons/ui/search.svg
  doc/core/svg-asset-management.md
  lib/core/assets/app_icons.dart
  lib/core/assets/app_icons_impl.dart
  lib/core/services/svg_icon_service.dart
  lib/core/services/svg_icon_service_impl.dart
  pubspec.lock
  pubspec.yaml
  test/core/assets/app_icons_test.dart
  test/core/services/svg_icon_service_test.dart
  test/setup/svg_dependencies_verification_test.dart
Due: format-and-analyze, spell-check, license-check

chore(splash_assets): remove unused splash screen assets and update documentation
  README.md
  assets/images/splash/1.0x/welcome.png
  assets/images/splash/1.5x/welcome.png
  assets/images/splash/2.0x/welcome.png
  assets/images/splash/3.0x/welcome.png
  assets/images/splash/4.0x/welcome.png
  assets/images/splash/welcome.png
  doc/core/architecture.md
  doc/core/development-guidelines.md
  lib/features/splash/presentation/cubit/splash_cubit.dart
  lib/features/splash/presentation/cubit/splash_state.dart
  lib/features/splash/presentation/pages/splash_page.dart
Due: format-and-analyze, spell-check

chore(asset_management): remove planning documents for image and SVG asset management
  planning.md
  planning_asset_image.md
  planning_asset_svg.md
Due: spell-check

feat: add packageManager field to package.json
  package.json
Due: none

chore(cspell): update spell check dictionaries in cspell.json files
  .github/cspell.json
  cspell.json
Due: none

feat(asset_management): enhance image asset handling and update global rules
  .cursor/rules/global-rule.mdc
  assets/images/login/1.0x/background.png
  assets/images/login/1.5x/background.png
  assets/images/login/2.0x/background.png
  assets/images/login/3.0x/background.png
  assets/images/login/4.0x/background.png
  assets/images/login/background.png
  lib/core/services/asset_image_service_impl.dart
  lib/core/themes/extensions/app_theme_extension.dart
  lib/features/authentication/presentation/pages/login_page.dart
  lib/features/splash/presentation/pages/splash_page.dart
  lib/features/splash/presentation/widgets/atomic/organisms/splash_layout.dart
  test/core/services/asset_image_service_test.dart
  test/core/themes/extensions/app_theme_extension_test.dart
  test/features/authentication/presentation/pages/login_page_test.dart
  test/features/splash/presentation/pages/splash_page_test.dart
  widgetbook/stories/authentication/login_page_story.dart
Due: format-and-analyze

feat(splash_page): update background color to use design system
  lib/features/splash/presentation/pages/splash_page.dart
  test/features/splash/presentation/pages/splash_page_test.dart
Due: format-and-analyze

feat(orange_background): refactor background color to use design system
  lib/features/splash/presentation/widgets/atomic/atoms/orange_background.dart
  test/features/splash/presentation/widgets/atomic/atoms/orange_background_test.dart
  test/features/splash/presentation/widgets/atomic/organisms/splash_layout_test.dart
  test/features/splash/presentation/widgets/splash_content_test.dart
Due: format-and-analyze

feat(login_form): enhance login experience with new form and icons
  assets/icons/account.svg
  assets/icons/password.svg
  assets/icons/ui/eye.svg
  assets/icons/ui/eye_off.svg
  assets/icons/ui/password.svg
  assets/images/login/1.0x/background.png
  assets/images/login/1.5x/background.png
  assets/images/login/2.0x/background.png
  assets/images/login/3.0x/background.png
  assets/images/login/4.0x/background.png
  assets/images/login/background.png
  lib/core/assets/app_icons.dart
  lib/core/assets/app_icons_impl.dart
  lib/core/styles/app_text_styles.dart
  lib/core/styles/app_text_styles_impl.dart
  lib/core/styles/colors/app_colors.dart
  lib/core/styles/colors/app_colors_impl.dart
  lib/features/authentication/presentation/pages/login_page.dart
  lib/features/authentication/presentation/widgets/login_carousel.dart
  lib/features/authentication/presentation/widgets/login_form.dart
  lib/features/locale/application/locale_application_service.dart
  lib/l10n/i18n/en.i18n.json
  lib/l10n/i18n/vi.i18n.json
  pubspec.yaml
  test/core/styles/colors/app_colors_impl_test.dart
  test/core/styles/colors/app_colors_test.dart
  test/core/themes/app_theme_test.dart
  test/core/themes/extensions/app_color_extension_test.dart
  test/features/authentication/presentation/pages/login_page_test.dart
  test/helpers/test_injection_container.dart
  widgetbook/core/widgetbook_bootstrap.dart
  widgetbook/core/widgetbook_text_styles.dart
  widgetbook/widgetbook.dart
Due: format-and-analyze, license-check

chore(Makefile): refactor commands to use variable for Dart and Flutter commands
  Makefile
  lib/core/bootstrap/app_bootstrap.dart
Due: format-and-analyze

fix: replace hardcoded fvm commands with fallback mechanism
  lefthook.yml
  lib/core/bootstrap/app_bootstrap.dart
  lib/core/styles/app_text_styles_impl.dart
Due: format-and-analyze

chore: add planning documentation and update platform configuration files
  android/app/src/main/AndroidManifest.xml
  macos/Runner/DebugProfile.entitlements
  macos/Runner/Release.entitlements
  planning.md
Due: spell-check

fix: add software architecture terms to cspell dictionary
  cspell.json
  lib/core/bootstrap/app_bootstrap.dart
Due: format-and-analyze

fix: sync cspell dictionary between root and .github configurations
  .github/cspell.json
  lib/core/bootstrap/app_bootstrap.dart
Due: format-and-analyze

chore: enhance CI workflow with Node.js setup and lefthook installation
  .github/workflows/main.yaml
Due: none

feat(fonts): add Public Sans font for offline use and license management
  assets/fonts/google_fonts/OFL.txt
  assets/fonts/google_fonts/PublicSans-Bold.ttf
  assets/fonts/google_fonts/PublicSans-Regular.ttf
  doc/core/design-system.md
  lib/core/bootstrap/app_bootstrap.dart
  lib/core/styles/app_text_styles_impl.dart
  pubspec.yaml
  test/core/styles/app_text_styles_test.dart
  test/core/themes/extensions/app_theme_extension_test.dart
  test/helpers/test_injection_container.dart
  widgetbook/core/widgetbook_bootstrap.dart
Due: format-and-analyze, spell-check, license-check

docs: update planning documentation
  planning.md
Due: spell-check
