Repository PhamMinhHaiAu-12035071/xp1: changes, and which lefthook commands are due for each by the changed paths.
All: pre-commit-check, spell-check-quick, license-check, deps-validation, i18n-validation

lefthook.yml:

# lefthook.yml
# Official git hooks only - custom commands moved to scripts/ and Makefile

# Official git hooks with scripts + Makefile integration
pre-commit:
  parallel: true
  commands:
    # Main pre-commit check using Makefile
    pre-commit-check:
      glob: "*.dart"
      run: make pre-commit
      stage_fixed: true
    # Quick spell check on staged files
    spell-check-quick:
      glob: "*.md"
      run: |
        npx cspell --config cspell.json {staged_files} --no-progress || \
        echo "‚ö†Ô∏è Fix spelling issues"
    # License check when pubspec.yaml changes
    license-check:
      glob: "pubspec.yaml"
      run: |
        if git diff --cached --name-only | grep -q "pubspec.yaml"; then
          echo "üì¶ pubspec.yaml changed, checking licenses..."
          make license-check
        fi
    # Dependency validation when pubspec.yaml changes
    deps-validation:
      glob: "pubspec.yaml"
      run: |
        if git diff --cached --name-only | grep -q "pubspec.yaml"; then
          echo "üì¶ pubspec.yaml changed, validating dependencies..."
          make validate-deps
        fi
    # i18n validation when translation files change
    i18n-validation:
      glob: "lib/l10n/i18n/*.json"
      run: |
        if git diff --cached --name-only | grep -q "lib/l10n/i18n/.*\.json"; then
          echo "üåê Translation files changed, validating i18n..."
          make i18n-validate
        fi

pre-push:
  parallel: false
  commands:
    # Run bash script tests first (TDD validation)
    bash-script-tests:
      run: npm test
    # Full license compliance check before push
    license-compliance:
      run: make license-check
    # Run complete CI pipeline via Makefile
    full-ci-pipeline:
      run: make local-ci
    # Full dependency validation before push
    validate-dependencies:
      run: make validate-deps
    # Complete naming conventions validation
    naming-validation:
      run: make naming-check

commit-msg:
  commands:
    conventional-commit:
      run: fvm dart run tool/validate_commit.dart {1}

fix(tests): convert Vietnamese test descriptions to English
  test/core/bootstrap/phases/error_handling_phase_test.dart
Due: pre-commit-check

feat(fonts): add Public Sans font for offline use and licensing
  assets/images/login/1.0x/background.png
  assets/images/login/1.5x/background.png
  assets/images/login/2.0x/background.png
  assets/images/login/3.0x/background.png
  assets/images/login/4.0x/background.png
  assets/images/login/background.png
  ios/Flutter/AppFrameworkInfo.plist
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  ios/Runner.xcodeproj/xcshareddata/xcschemes/development.xcscheme
  ios/Runner.xcworkspace/contents.xcworkspacedata
  ios/Runner/AppDelegate.swift
  lib/features/authentication/presentation/pages/login_page.dart
  lib/features/authentication/presentation/widgets/login_form.dart
  pubspec.lock
  pubspec.yaml
  test/features/authentication/presentation/pages/login_page_test.dart
Due: pre-commit-check, license-check, deps-validation

refactor: consolidate docs into doc/ directory for Pub layout compliance
  doc/core/brownfield-architecture.md
  doc/stories/1.1.core-auth-infrastructure.story.md
  doc/stories/1.2.auth-repository-api-integration.story.md
  doc/stories/1.3.login-form-integration-state-management.story.md
  doc/stories/epic-auth-api-integration.md
Due: spell-check-quick

ci: fix license-compliance job by installing very_good_cli
  .github/workflows/main.yaml
Due: none

fix: add placeholder files to assets/icons/navigation/ directory
  assets/icons/navigation/.gitkeep
  assets/icons/navigation/home.svg
Due: none

fix: remove test/shared/ directory reference from Makefile
  Makefile
Due: none

ci: fix coverage job by installing lcov package
  .github/workflows/main.yaml
Due: none

ci: remove coverage generation from GitHub Actions workflow
  .github/workflows/main.yaml
Due: none

docs: update CLAUDE.md with important instruction reminders
  CLAUDE.md
  doc/core/architecture.md
  doc/core/brownfield-architecture.md
  doc/core/design-system.md
  doc/core/development-guidelines.md
  doc/core/image-asset-management.md
  doc/core/license-compliance.md
  doc/core/naming-conventions.md
  doc/core/svg-asset-management.md
  doc/core/tech-stack.md
  doc/design-system/color-palette-specifications.md
  doc/design-system/typography-specifications.md
  doc/features/environment/configuration.md
  doc/features/environment/usage.md
  doc/features/migrations/sealed-class-migration.md
  doc/meta/README.md
  doc/meta/index.md
  doc/stories/1.1.core-auth-infrastructure.story.md
  doc/stories/1.2.auth-repository-api-integration.story.md
  doc/stories/1.3.login-form-integration-state-management.story.md
  doc/stories/epic-auth-api-integration.md
Due: spell-check-quick

fix: rename docs/ to doc/ for pub package layout compliance
  doc/architecture/coding-standards.md
  doc/architecture/source-tree.md
  doc/architecture/tech-stack.md
  doc/brownfield-architecture.md
  doc/qa/gates/1.1-core-auth-infrastructure.yml
  doc/qa/gates/1.2-auth-repository-api-integration.yml
  doc/qa/gates/1.3-login-form-integration-state-management.yml
  doc/qa/gates/1.4-enhanced-form-validation-formz-integration.yml
Due: spell-check-quick

chore: update cspell configuration for additional terms
  .github/cspell.json
  cspell.json
Due: none

chore: update API URLs in environment example files
  lib/features/env/development.env.example
  lib/features/env/production.env.example
  lib/features/env/staging.env.example
Due: none

fix: update API URL in EnvConfigFactory test
  test/features/env/infrastructure/env_config_factory_test.dart
Due: pre-commit-check

feat: implement transparent PNG splash screen for Android
  android/app/src/main/res/drawable-hdpi/android12splash.png
  android/app/src/main/res/drawable-mdpi/android12splash.png
  android/app/src/main/res/drawable-night-hdpi/android12splash.png
  android/app/src/main/res/drawable-night-mdpi/android12splash.png
  android/app/src/main/res/drawable-night-xhdpi/android12splash.png
  android/app/src/main/res/drawable-night-xxhdpi/android12splash.png
  android/app/src/main/res/drawable-night-xxxhdpi/android12splash.png
  android/app/src/main/res/drawable-xhdpi/android12splash.png
  android/app/src/main/res/drawable-xxhdpi/android12splash.png
  android/app/src/main/res/drawable-xxxhdpi/android12splash.png
  android/app/src/main/res/values-night-v31/styles.xml
  android/app/src/main/res/values-v31/styles.xml
  assets/splash/transparent.png
  flutter_native_splash.yaml
  ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@1x.png
  pubspec.yaml
  web/index.html
Due: license-check, deps-validation

feat: add comprehensive agent instructions and coding standards documentation
  AGENTS.md
  doc/qa/gates/1.1-core-auth-infrastructure.yml
  doc/qa/gates/1.2-auth-repository-api-integration.yml
  doc/qa/gates/1.3-login-form-integration-state-management.yml
  doc/qa/gates/1.4-enhanced-form-validation-formz-integration.yml
  docs/architecture/coding-standards.md
  docs/architecture/source-tree.md
  docs/architecture/tech-stack.md
  docs/brownfield-architecture.md
  lib/features/env/development.env.example
  planning.md
  pubspec.yaml
  test/features/env/infrastructure/env_config_factory_test.dart
Due: pre-commit-check, spell-check-quick, license-check, deps-validation

feat: enhance authentication system with token management and interceptors
  lib/core/di/app_module.dart
  lib/core/network/auth_interceptor.dart
  lib/core/network/token_authenticator.dart
  lib/features/authentication/application/blocs/auth_bloc.dart
  lib/features/authentication/domain/entities/token_state.dart
  lib/features/authentication/domain/failures/auth_failure.dart
  lib/features/authentication/infrastructure/repositories/auth_repository_impl.dart
  lib/features/authentication/infrastructure/services/auth_api_service.dart
  lib/features/authentication/infrastructure/token/token_manager.dart
  test/features/authentication/domain/entities/token_state_test.dart
  test/features/authentication/domain/failures/auth_failure_test.dart
  test/features/authentication/infrastructure/token/token_manager_test.dart
Due: pre-commit-check

feat: enhance theme extension and login page with context-based services
  .pubignore
  lib/core/themes/extensions/app_theme_extension.dart
  lib/features/authentication/presentation/pages/login_page.dart
  lib/features/authentication/presentation/widgets/login_form.dart
Due: pre-commit-check

feat: introduce design constants for responsive UI
  lib/core/constants/design_constants.dart
  lib/features/authentication/presentation/pages/login_page.dart
  lib/features/authentication/presentation/widgets/login_form.dart
  lib/features/splash/presentation/widgets/atomic/molecules/positioned_splash_image.dart
Due: pre-commit-check

feat: add loading overlay functionality with spinner support
  lib/core/mixins/loading_mixin.dart
  lib/core/widgets/loading_overlay.dart
  lib/features/authentication/application/blocs/auth_bloc.dart
  lib/features/authentication/application/blocs/auth_event.dart
  lib/features/authentication/presentation/widgets/login_form.dart
  pubspec.lock
  pubspec.yaml
  test/core/mixins/loading_mixin_test.dart
  test/core/widgets/loading_overlay_test.dart
Due: pre-commit-check, license-check, deps-validation

feat: integrate flutter_launcher_icons for app icon management
  Makefile
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/mipmap-hdpi/launcher_icon.png
  android/app/src/main/res/mipmap-mdpi/launcher_icon.png
  android/app/src/main/res/mipmap-xhdpi/launcher_icon.png
  android/app/src/main/res/mipmap-xxhdpi/launcher_icon.png
  android/app/src/main/res/mipmap-xxxhdpi/launcher_icon.png
  assets/icons/app_icons/app_icon.png
  flutter_launcher_icons.yaml
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  pubspec.lock
  pubspec.yaml
  test/integration/launcher_icons_test.dart
  web/favicon.png
  web/icons/Icon-maskable-192.png
  web/icons/Icon-maskable-512.png
  web/manifest.json
Due: pre-commit-check, license-check, deps-validation

fix: optimize lefthook pre-push pipeline for better performance
  Makefile
Due: none

fix: optimize analyze-quick command to ignore warnings
  Makefile
Due: none

fix: optimize lefthook pre-push pipeline with ultra-light analysis
  Makefile
  lib/core/constants/route_constants.dart
  lib/core/routing/app_router.dart
  lib/features/authentication/presentation/pages/forgot_password_page.dart
  lib/features/authentication/presentation/widgets/README.md
  lib/features/authentication/presentation/widgets/auth_app_bar.dart
  lib/features/authentication/presentation/widgets/auth_app_bar_example.dart
  lib/features/authentication/presentation/widgets/login_form.dart
  lib/l10n/i18n/en.i18n.json
  lib/l10n/i18n/vi.i18n.json
Due: pre-commit-check, spell-check-quick, i18n-validation

fix: optimize lefthook pre-push pipeline with ultra-light analysis
  lib/features/authentication/presentation/widgets/auth_app_bar_example.dart
Due: pre-commit-check

fix: finalize ultra-light analysis for pre-push pipeline
  Makefile
Due: none

fix: enhance lefthook pre-push pipeline with quick analyze script
  Makefile
  lefthook.yml
  scripts/quick-analyze.sh
Due: none

fix: update color handling methods for improved precision
  .cursor/rules/coding-style.mdc
  AGENTS.md
  CLAUDE.md
  lib/core/styles/app_text_styles.dart
  lib/core/styles/app_text_styles_impl.dart
  lib/features/authentication/presentation/pages/forgot_password_page.dart
  lib/features/authentication/presentation/widgets/README.md
  lib/features/authentication/presentation/widgets/auth_app_bar.dart
  lib/features/authentication/presentation/widgets/auth_app_bar_example.dart
  lib/features/authentication/presentation/widgets/login_form.dart
  widgetbook/core/widgetbook_text_styles.dart
Due: pre-commit-check, spell-check-quick

feat: implement forgot password feature with UI enhancements
  Makefile
  assets/icons/email.svg
  assets/images/forgot_password/1.0x/forgot_password.png
  assets/images/forgot_password/1.5x/forgot_password.png
  assets/images/forgot_password/2.0x/forgot_password.png
  assets/images/forgot_password/3.0x/forgot_password.png
  assets/images/forgot_password/4.0x/forgot_password.png
  assets/images/forgot_password/forgot_password.png
  lib/core/assets/app_icons.dart
  lib/core/assets/app_icons_impl.dart
  lib/core/assets/app_images.dart
  lib/core/assets/app_images_impl.dart
  lib/core/mixins/loading_mixin.dart
  lib/core/themes/extensions/app_theme_extension.dart
  lib/core/widgets/atoms/primary_button.dart
  lib/core/widgets/atoms/responsive_initializer.dart
  lib/core/widgets/molecules/animated_text_field.dart
  lib/core/widgets/molecules/glassmorphism_app_bar.dart
  lib/core/widgets/molecules/loading_overlay.dart
  lib/core/widgets/widgets.dart
  lib/features/authentication/presentation/pages/forgot_password_page.dart
  lib/features/authentication/presentation/widgets/login_form.dart
  lib/l10n/i18n/en.i18n.json
  lib/l10n/i18n/vi.i18n.json
  pubspec.yaml
  test/core/mixins/loading_mixin_test.dart
  test/core/widgets/atoms/primary_button_test.dart
  test/core/widgets/atoms/responsive_initializer_test.dart
  test/core/widgets/molecules/animated_text_field_test.dart
  test/core/widgets/molecules/glassmorphism_app_bar_test.dart
  test/core/widgets/molecules/loading_overlay_test.dart
  test/features/authentication/presentation/pages/forgot_password_page_test.dart
Due: pre-commit-check, license-check, deps-validation, i18n-validation
